
@{
    ViewData["Title"] = "Сегодня";
}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title m-b-20">
                                    <h3 class="f-w-300">Актуальное</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="app-active owl-carousel animated fadeInUp fast">
                                    <div class="card rides-bar">
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-shopping-cart f-30 text-white rides-icon"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">Сессия</h3>
                                                    <small>Руководство SoftU желает всем студентам успешной сдачи экзаменов. Мы сделали для вас ...</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card rides-bar">
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-shopping-cart f-30 text-white rides-icon"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">Новое</h3>
                                                    <small>Друзья! У нас отличная новость! На студентечском портале появились новые функции ...</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card rides-bar">
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-shopping-cart f-30 text-white rides-icon"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">Продление</h3>
                                                    <small>Уважаемые студенты, напоминаем о необходимости сдачи студенческих билетов на продление ...</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card rides-bar">
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-shopping-cart f-30 text-white rides-icon"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">Сессия</h3>
                                                    <small>Уважаемые студенты, появилась информация о графике проведения летней сессии. Ознакомтесь ...</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-12">
                                <div class="page-header-title m-b-20">
                                    <h3 class="f-w-300">Сейчас</h3>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-4">
                                <div class="card profit-bar animated pulse infinite slow">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5 class="f-w-300">Теория гос. и права</h5>
                                                <h4 class="text-c-green f-w-400 m-t-10">У вас занятие</h4>
                                            </div>
                                            <div class="col">
                                                <i class="fas fa-chalkboard-teacher f-20 text-white float-right"></i>
                                            </div>
                                        </div>
                                        <h6 class="m-t-20 text-muted"><span class="badge theme-bg  text-white m-r-10">лекция</span>Михайлов Иван Леонидович</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 animated fadeIn delay-1s">
                                <div class="card theme-bg2 ticket-customer">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-auto">
                                                <h1 class="text-white mb-0 f-w-300">4</h1>
                                            </div>
                                            <div class="col">
                                                <span class="text-white d-block">15.10.2020</span>
                                                <span class="text-white">Михальчук Н.П. оценил домашнее за...</span>
                                            </div>
                                        </div>
                                        <h5 class="text-white f-w-300 mt-4">Преподаватель оценил ДЗ</h5>
                                        <i class="fas fa-file-alt text-white f-70"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 animated fadeIn delay-1s">

                                <div class="card">
                                    <div class="card-block">
                                        <h6 class="mb-4">Посещаемость последней недели</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>13%</h3>
                                            </div>

                                            <div class="col-3 text-right">
                                                <p class="m-b-0">67%</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="page-header-title m-b-20">
                                    <h3 class="f-w-300">Расписание занятий</h3>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-4">
                                <div class="card profit-bar">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5 class="f-w-300">Теория гос. и права</h5>
                                                <h3 class="text-c-green f-w-400 m-t-10">Сейчас идет</h3>
                                            </div>
                                            <div class="col">
                                                <i class="fas fa-chalkboard-teacher f-20 text-white float-right"></i>
                                            </div>
                                        </div>
                                        <h6 class="m-t-20 text-muted"><span class="badge theme-bg  text-white m-r-10">лекция</span>Михайлов Иван Леонидович</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-4">

                                <div class="card profit-bar">
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-9">
                                                        <h5 class="f-w-300">Философия</h5>
                                                        <h3 class="text-c-yellow f-w-400 m-t-10">Далее сегодня</h3>
                                                    </div>
                                                    <div class="col">
                                                        <i class="fas fa-user-graduate f-20 text-white float-right"></i>
                                                    </div>
                                                </div>
                                                <h6 class="m-t-20 text-muted"><span class="badge theme-bg2  text-white m-r-10">семинар</span>Дроздов Иван Петрович</h6>
                                            </div>
                                        </div>
                            </div>

                            <div class="col-md-6 col-xl-4">

                                    <div class="card profit-bar">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-9">
                                                    <h5 class="f-w-300">Экономическая теория</h5>
                                                    <h3 class="text-c-purple f-w-400 m-t-10">Сегодня</h3>
                                                </div>
                                                <div class="col">
                                                    <i class="fas fa-chalkboard-teacher f-20 text-white float-right"></i>
                                                </div>
                                            </div>
                                            <h6 class="m-t-20 text-muted"><span class="badge theme-bg  text-white m-r-10">лекция</span>Моисеенко Николай Борисович</h6>
                                        </div>
                                    </div>
                            </div>

                            <!-- [ Full-calendar ] start -->
                            <div class="col-sm-12">
                                <div class="card fullcalendar-card">
                                    <div class="card-header">
                                        <h5>Расписание занятий</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            
                                            <div class="col-xl-12 col-md-12">
                                                <div id='calendar' class='calendar'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Recent Users ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <!-- notification css -->
    <link rel="stylesheet" href="~/assets/plugins/notification/css/notification.min.css">

    <link rel="stylesheet" href="~/css/owl_carousel/owl.carousel.min.css"/>
    <!-- Wysiwyg editor -->
    <link rel="stylesheet" href="~/assets/plugins/fullcalendar/css/fullcalendar.min.css">
}

@section Scripts{
    <!-- amchart js -->
    <script src="~/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="~/assets/plugins/amchart/js/gauge.js"></script>
    <script src="~/assets/plugins/amchart/js/serial.js"></script>
    <script src="~/assets/plugins/amchart/js/light.js"></script>
    <script src="~/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="~/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="~/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="~/assets/plugins/amchart/js/radar.js"></script>
    <script src="~/assets/plugins/amchart/js/worldLow.js"></script>
    <!-- notification Js -->
    <script src="~/assets/plugins/notification/js/bootstrap-growl.min.js"></script>
    <!-- dashboard-custom js -->
    <script src="~/assets/js/pages/dashboard-custom.js"></script>

    <!-- Full calendar js -->
    <script src="~/assets/plugins/fullcalendar/js/lib/moment.min.js"></script>
    <script src="~/assets/plugins/fullcalendar/js/lib/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>


    <script>
        $(document).ready(function()
        {
            var client_list = $('.app-active');
            if(client_list.length)
            {
                client_list.owlCarousel(
                {
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    loop: true,
                    autoplay:true,
                    autoplayTimeout:5000,
                    smartSpeed: 5200,
                    dots: false,
                    margin: 20,
                    nav  : false,
                    autoplayHoverPause: false,
                    responsive :
                    {
                        0:
                        {
                            items: 1
                        },
                        768:
                        {
                            items: 2
                        },
                        992:
                        {
                            items: 3
                        },
                        1200:
                        {
                            items: 4
                        }
                    }
                });
            }
        });
        document.addEventListener("DOMContentLoaded", ready);
    </script>

    <script type="text/javascript">
        // Full calendar
        $(window).on('load', function() {
            $('#external-events .fc-event').each(function() {
                $(this).data('event', {
                    title: $.trim($(this).text()),
                    stick: true
                });
                $(this).draggable({
                    zIndex: 999,
                    revert: true,
                    revertDuration: 0
                });
            });
            $('#calendar').fullCalendar({

                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                buttonText:
                {
                    today: 'Сегодня',
                    month: 'Месяц',
                    week: 'Неделя',
                    day: 'День',
                    list: 'Список'
                },

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: $('#calendar').fullCalendar('today'),
                editable: false,
                droppable: false,
                events:
                [
                    {
                        title: 'Теория государства и права',
                        start: '2020-12-11T10:30:00',
                        end: '2020-12-11T12:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'Экономическая теория',
                        start: '2020-12-9T10:30:00',
                        end: '2020-12-9T12:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'История политических и правовых учений',
                        start: '2020-12-8T10:30:00',
                        end: '2020-12-8T12:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'Социология',
                        start: '2020-12-13T10:30:00',
                        end: '2020-12-13T12:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'Психология',
                        start: '2020-12-14T10:30:00',
                        end: '2020-12-14T12:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'Теория государства и права',
                        start: '2020-12-15T10:30:00',
                        end: '2020-12-15T12:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'Экономическая теория',
                        start: '2020-12-12T12:30:00',
                        end: '2020-12-12T14:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                    {
                        title: 'Информатика',
                        start: '2020-12-12T15:30:00',
                        end: '2020-12-12T17:30:00',
                        borderColor: '#1de9b6',
                        backgroundColor: '#1de9b6',
                        textColor: '#fff'
                    },
                ],
                drop: function ()
                {
                    if ($('#drop-remove').is(':checked'))
                    {
                        $(this).remove();
                    }
                }
            });
        });
    </script>

    <script src="~/js/owl_carousel/owl.carousel.min.js"></script>
}

