
@{
    ViewData["Title"] = "Widget2";
}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title m-b-20">
                                    <h5 class="display-4 animated fadeInDown">Отзывы преподавателей</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ user list ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card user-list">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center m-b-20">
                                            <div class="col-6">
                                                <h2 class="f-w-300 d-flex align-items-center float-left m-0">4.5 <i class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h2>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="d-flex  align-items-center float-right m-0">1.7 <i class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5</h6>
                                                <h6 class="align-items-center float-right">95</h6>
                                                <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>4</h6>
                                                <h6 class="align-items-center float-right">56</h6>
                                                <div class="progress m-t-30  m-b-15" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>3</h6>
                                                <h6 class="align-items-center float-right">35</h6>
                                                <div class="progress m-t-30  m-b-15" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2</h6>
                                                <h6 class="align-items-center float-right">5</h6>
                                                <div class="progress m-t-30  m-b-15" style="height: 6px;">
                                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1</h6>
                                                <h6 class="align-items-center float-right">0</h6>
                                                <div class="progress m-t-30  m-b-0" style="height: 6px;">
                                                    <div class="progress-bar" role="progressbar" style="width:0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card chat-sanders">
                                    <div class="card-block m-t-30 p-0">
                                        <div class="scroll-div" id="chat-scroll">
                                            <div style="padding:0 30px 35px 30px;">
                                                <p class="text-center text-muted">ИЮН 23 16:46</p>
                                                <div class="row m-b-20 received-chat align-items-end">
                                                    <div class="col-auto p-r-0">
                                                        <h5 class="text-white d-flex align-items-center theme-bg2 justify-content-center">C</h5>
                                                    </div>
                                                    <div class="col">
                                                        <div class="msg">
                                                            <h6 class="m-b-0">Как я могу помочь?</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-b-20 send-chat align-items-end">
                                                    <div class="col text-right">
                                                        <div class="msg">
                                                            <h6 class="m-b-0 text-white">Текст ответа</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto p-l-0">
                                                        <h5 class="text-white d-flex align-items-center theme-bg justify-content-center">П</h5>
                                                    </div>
                                                </div>
                                                <div class="row m-b-20 received-chat align-items-end">
                                                    <div class="col-auto p-r-0">
                                                        <h5 class="text-white d-flex align-items-center  theme-bg2 justify-content-center">С</h5>
                                                    </div>
                                                    <div class="col">
                                                        <div class="msg">
                                                            <h6 class="m-b-0">Текст вопроса</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-b-0 send-chat align-items-end">
                                                    <div class="col text-right">
                                                        <div class="msg">
                                                            <h6 class="m-b-0 text-white">Текст ответа</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto p-l-0">
                                                        <h5 class="text-white d-flex align-items-center theme-bg justify-content-center">П</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-icon-control border-top">
                                        <div class="input-group input-group-button p-10">
                                            <input type="text" class="form-control border-0 text-muted" placeholder="Напишите сообщение">
                                            <div class="input-group-append">
                                                <button class="btn" type="button"><i class="fas f-20 fa-paper-plane"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

@section Styles{

}

@section Scripts{
    <!-- Todo Js -->
    <script src="~/assets/plugins/todo/js/todo.js"></script>

    <script>
       var ps = new PerfectScrollbar('#chat-scroll', {
           wheelSpeed: .5,
           swipeEasing: 0,
           suppressScrollX: !0,
           wheelPropagation: 1,
           minScrollbarLength: 40,
       });
    </script>
}

