@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager;
@inject SignInManager<ApplicationUser> _signInManager;
@{
    var user = await _userManager.FindByNameAsync(User.Identity.Name ?? "");
}
@{ ViewData["Title"] = "Профиль"; }
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="profile-box">
                <div class="profile-avatar text-center mb-20">
                    <img src="~/assets/images/user/avatar-1.jpg" alt="profile-avatar">
                    <p class="fio">@user.LastName @user.FirstName @user.MiddleName</p>
                </div>
                <div class="profile-description text-center mb-20">
                    <p class="email">Email:  @user.Email</p>
                </div>
                <div class="btn-box text-center">
                    <a asp-action="ChangePassword" asp-controller="Account" class="profile-btn">Сменить пароль</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <!-- notification css -->
    <link rel="stylesheet" type="text/css" href="/profile/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/profile/css/profile.css">
}
