@using Microsoft.AspNetCore.Identity
@model WebApp.ViewModels.ChangePasswordViewModel
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewBag.Title = "Изменение пароля";
    var user = await _userManager.FindByNameAsync(User.Identity.Name ?? "");
}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <h2>Изменение пароля для пользователя @user.Email</h2>
                <form asp-action="ChangePassword" asp-controller="Account">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" value=@user.Id />
                    <input type="hidden" asp-for="Email" value=@user.Email />
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
                        <input type="text" asp-for="OldPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                        <input type="text" asp-for="NewPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


