@model SoftU_WebApp.Models.PageViewModel

@{
    ViewData["Title"] = "Расписание";
}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title m-b-20">
                                    <h5 class="display-4 animated fadeInDown">Расписание</h5>
                                </div>
                                @* <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard/@Pages.Dashboard1.Value"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Full Calendar</a></li>
                                </ul> *@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="card profit-bar">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5 class="f-w-300">Теория гос. и права</h5>
                                                <h3 class="text-c-green f-w-400 m-t-10">Сейчас идет</h3>
                                            </div>
                                            <div class="col">
                                                <i class="fas fa-chalkboard-teacher f-20 text-white float-right"></i>
                                            </div>
                                        </div>
                                        <h6 class="m-t-20 text-muted"><span class="badge theme-bg  text-white m-r-10">лекция</span>Михайлов Иван Леонидович</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-8">
                                

                                <div class="app-active owl-carousel animated fadeInUp fast p-r-10 p-l-10">
                                    <div class="card profit-bar">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-9">
                                                    <h5 class="f-w-300">Философия</h5>
                                                    <h3 class="text-c-yellow f-w-400 m-t-10">Далее сегодня</h3>
                                                </div>
                                                <div class="col">
                                                    <i class="fas fa-user-graduate f-20 text-white float-right"></i>
                                                </div>
                                            </div>
                                            <h6 class="m-t-20 text-muted"><span class="badge theme-bg2  text-white m-r-10">семинар</span>Дроздов Иван Петрович</h6>
                                        </div>
                                    </div>
                                    <div class="card profit-bar">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-9">
                                                    <h5 class="f-w-300">Экономическая теория</h5>
                                                    <h3 class="text-c-purple f-w-400 m-t-10">Сегодня</h3>
                                                </div>
                                                <div class="col">
                                                    <i class="fas fa-chalkboard-teacher f-20 text-white float-right"></i>
                                                </div>
                                            </div>
                                            <h6 class="m-t-20 text-muted"><span class="badge theme-bg  text-white m-r-10">лекция</span>Моисеенко Николай Борисович</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- [ Full-calendar ] start -->
                            <div class="col-sm-12">
                                <div class="card fullcalendar-card">
                                    <div class="card-header">
                                        <h5>Расписание занятий</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            
                                            <div class="col-xl-12 col-md-12">
                                                <div id='calendar' class='calendar'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Full-calendar ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

@section Styles{
    <!-- Wysiwyg editor -->
    <link rel="stylesheet" href="~/assets/plugins/fullcalendar/css/fullcalendar.min.css">

    <link rel="stylesheet" href="~/css/owl_carousel/owl.carousel.min.css"/>
}

@section Scripts{
    <!-- Full calendar js -->
    <script src="~/assets/plugins/fullcalendar/js/lib/moment.min.js"></script>
    <script src="~/assets/plugins/fullcalendar/js/lib/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>

    <script type="text/javascript">
        // Full calendar
        $(window).on('load', function() {
            $('#external-events .fc-event').each(function() {
                $(this).data('event', {
                    title: $.trim($(this).text()),
                    stick: true
                });
                $(this).draggable({
                    zIndex: 999,
                    revert: true,
                    revertDuration: 0
                });
            });
            $('#calendar').fullCalendar({

                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                buttonText:
                {
                    today: 'Сегодня',
                    month: 'Месяц',
                    week: 'Неделя',
                    day: 'День',
                    list: 'Список'
                },

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: $('#calendar').fullCalendar('today'),
                editable: false,
                droppable: false,
                events: '@Url.Action("GetEvents","Schedule")',
                drop: function ()
                {
                    if ($('#drop-remove').is(':checked'))
                    {
                        $(this).remove();
                    }
                }
            });
        });
    </script>


    <script>
        $(document).ready(function()
        {
            var client_list = $('.app-active');
            if(client_list.length)
            {
                client_list.owlCarousel(
                {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    loop: true,
                    autoplay:true,
                    autoplayTimeout:5000,
                    smartSpeed: 5200,
                    dots: false,
                    margin: 20,
                    nav  : false,
                    autoplayHoverPause: false,
                    responsive :
                    {
                        0:
                        {
                            items: 1
                        },
                        768:
                        {
                            items: 1
                        },
                        992:
                        {
                            items: 2
                        },
                        1200:
                        {
                            items: 2
                        }
                    }
                });
            }
        });
        document.addEventListener("DOMContentLoaded", ready);
    </script>


    <script src="~/js/owl_carousel/owl.carousel.min.js"></script>
}

