@{
    ViewData["Title"] = "Сбросить пароль";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>SoftU - Сброс пароля</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

  
    <!-- animation css -->
    <link rel="stylesheet" href="/ForgotPasswordCojnfirm/bootstrap/css/bootstrap.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/ForgotPasswordCojnfirm/css/changePassword1.css">

</head>

<body>
    <div class="container">
        <div class="row h-100vh justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="box-changePassword">
                    <div class="box-pass-p text-center p-pass-1 mb-20">
                        <p>Сбросить пароль</p>
                    </div>
                    <div class="box-pass-p text-center p-pass-2">
                        <p>Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/ForgotPasswordCojnfirm/bootstrap/js/bootstrap.min.js"></script>
    <script src="/ForgotPasswordCojnfirm/jquery/jquery-3.5.1.min.js"></script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>
