@model WebApp.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>SoftU - Сброс пароля</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- animation css -->
    <link rel="stylesheet" href="/ForgotPassword/css/changePassword2.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/ForgotPassword/bootstrap/css/bootstrap.min.css">

</head>

<body>
        <div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">

        <div class="container">
            <div class="row h-100vh justify-content-center align-items-center">
                <div class="col-lg-6">
                    <form asp-controller="Auth" asp-action="ForgotPassword" method="post" class="changeForm2 needs-validation" novalidate>
                        <div class="header-change-form mb-20 text-center">
                            <p>Сброс пароля</p>
                        </div>
                        <div class="row">
                            <div class="mb-20 col-lg-12">
                                <div class="input-box">
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Введите ваш email*" required>
                                    <div class="invalid-feedback">Неверный формат</div>
                                    <div class="valid-feedback">Успешно!</div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-box text-center col-lg-12 mb-20">
                            <button type="submit" class="change-btn">Сбросить пароль</button>
                        </div>
                        <div class="no-acc text-center">
                            <p>Еще нет аккаунта? <a href="/Auth/@Pages.SignUp.Value">Регистрация</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>

        <script src="/ForgotPassword/bootstrap/js/bootstrap.min.js"></script>
        <script src="/ForgotPassword/jquery/jquery-3.5.1.min.js"></script>
        <script>
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>


</body>

</html>
